
dill==0.3.7
Django==4.1.7
django-bootstrap-icons==0.8.3
django-bootstrap4==23.2
django-cors-headers==4.0.0
django-crispy-forms==2.0

gast==0.4.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.0
gmplot==1.4.1
google-auth==2.16.1
google-auth-oauthlib==0.4.6
google-cloud==0.34.0
google-pasta==0.2.0
grpcio==1.51.3

ipykernel==6.21.3
ipython==8.11.0
psutil==5.9.4
psycopg2-binary==2.9.2
pybase64==1.2.3


social-auth-app-django==5.0.0
social-auth-core==4.3.0


