
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Re_Solutions </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'assets/img/resolutionspic.png'%}" rel="icon">
  <link href="{%static 'assets/img/resolutionspic.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'assets/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Maundy
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/maundy-free-coming-soon-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<style>
    .resolution-links a {
      display: inline-block;
      padding: 20px; /* Adjust the padding to control the size */
      border-radius: 50%; /* This creates a rounded background */
      background-color: #3498db; /* Customize the background color */
      color: #ffffff; /* Customize the text color */
      text-decoration: none;
      margin: 10px; /* Adjust the margin for spacing */
      transition: background-color 0.3s; /* Add a smooth transition effect */
    }
  
    .resolution-links a:hover {
      background-color: #2c3e50; /* Change the background color on hover */
    }
  </style>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex flex-column align-items-center">
        {%if user.is_authenticated%}
        <h2 style="margin-left: 900px;">Welcome, {{user.username}}</h2>
        {%endif%}
        <h1>Re_Solutions </h1>

        <h2>Whether you're at home, work, or on the go, Re_Solutions is with you every step of the way. Access your resolutions, countdown, and achievements from any device, making it easy to stay connected to your goals.</h2>
        <div class="countdown d-flex justify-content-center" data-count="2024/1/1">
          <div>
            <h3>%d</h3>
            <h4>Days</h4>
          </div>
          <div>
            <h3>%h</h3>
            <h4>Hours</h4>
          </div>
          <div>
            <h3>%m</h3>
            <h4>Minutes</h4>
          </div>
          <div>
            <h3>%s</h3>
            <h4>Seconds</h4>
          </div>
        </div>
  
        {% if user.is_authenticated %}
        <div class="resolution-links text-center">
          <a href="{% url 'index' %}" class="home-link"><i class="bi bi-house-door"></i></a>
          <a href="{% url 'create_resolution' %}" class="add-resolution"><i class="bi bi-plus"></i></a>
          <a href="{%url 'resolutions'%}" class="view-resolution"><i class="bi bi-list"></i></a>
          <a href="{%url 'all_news_articles'%}" class="view-resolution"><i class="bi bi-megaphone"></i> </a>
          {% if user.is_staff %}
            <a href="{% url 'create_contact' %}" class="contact-us"><i class="bi bi-envelope"></i></a>
            <a href="{% url 'create_news_article' %}" class="contact-us"><i class="bi bi-newspaper"></i></a>
          {% endif %}
          <a href="{% url 'logout' %}" class="logout-link"><i class="bi bi-box-arrow-right"></i></a>
        </div>
      {% endif %}
      
        
        
  
      </div>
    </header><!-- End #header -->


<main id="main">
{%block content%}

{%endblock%}

</main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maundy-free-coming-soon-bootstrap-theme/ -->
        Designed by <a href="#">Admin K.O</a>
      </div>
    </div>
  </footer><!-- End #footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{%static 'assets/vendor/php-email-form/validate.js'%}"></script>

<!-- Template Main JS File -->
<script src="{%static 'assets/js/main.js'%}"></script>

</body>

</html>