
{%extends 'base.html'%}

{%block content%}


<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>About Us</h2>
    </div>

    <div class="row mt-2">
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="bi bi-clock"></i></div>
        <h4 class="title"><a href="#">Countdown Timer</a></h4>
        <p class="description">Witness the excitement as we countdown to the New Year, bringing anticipation and joy to your celebrations.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="bi bi-check2"></i></div>
        <h4 class="title"><a href="#">Resolutions Checklist</a></h4>
        <p class="description">Create and save your New Year resolutions checklist, setting the foundation for personal growth and achievement.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box">
        <div class="icon"><i class="bi bi-search"></i></div>
        <h4 class="title"><a href="#">Resolution Tracking</a></h4>
        <p class="description">Track your progress and accomplishments by checking off completed resolutions throughout the year.</p>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->

<!-- ======= Contact Us Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contact Us</h2>
    </div>

    
    <div class="row">

      <div class="col-lg-12 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>{{ contact_info.location_description }}</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>{{ contact_info.email }}</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Zip Code:</h4>
            <p>{{ contact_info.phone_number }}</p>
          </div>          
          {% if contact_info.latitude and contact_info.longitude %}
          <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.1422937950147!3d{{ contact_info.latitude }}!2d{{ contact_info.longitude }}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0:0x0!2z{{ contact_info.latitude }},{{ contact_info.longitude }}!5e0!3m2!1sen!2syour-location&output=embed"

              width="100%"
              height="460"
              frameborder="0"
              style="border:0"
              allowfullscreen
          ></iframe>
          {% endif %}
        </div>

      </div>

    </div>

  </div>
</section><!-- End Contact Us Section -->



{%endblock%}