
{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}
<style>
    .btn-block {
  width: 100%;
}

.btn-primary {
  text-align: center;
}
</style>
<div class="container mt-5" style="margin-bottom: 60px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4">
                <h1 class="mb-4 text-center">Sign up</h1>
                <p class="text-center">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
                <form method="post" action="{% url 'signup' %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
                        {{ form.username }}
                        
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password2.id_for_label }}" class="form-label">First name</label>
                        {{ form.first_name }} 
                        
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password2.id_for_label }}" class="form-label">Last Name</label>
                        {{ form.last_name }}
                        
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                        {{ form.email }}
                        
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password1.id_for_label }}" class="form-label">Password</label>
                        {{ form.password1 }}
                        
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password2.id_for_label }}" class="form-label">Confirm password</label>
                        {{ form.password2 }}
                        
                    </div>
                    {% if form.errors or form.non_field_errors %}
                        <div class="alert alert-danger mb-3">
                            {% for field in form %}
                                {{ field.errors }}
                            {% endfor %}
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
